body {
    height: 100vh;
    width: 100vw;

    main {
        height: 100%;
        width: 100%;
        gap: 20px;
    
        #flex-test-container {
            display: flex;
            border: solid black 1px;
            height: 200px;
            width: 300px;
            resize: both;
            overflow: auto;

            div {
                border: solid black 1px;
            }
        }
    
        form {
            gap: 20px;

            > div {
                gap: 10px;
    
                > label {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: start;
                    gap: 10px;

                    > select {
                        width: 100px;
                    }

                    > input[type='text'],
                    > input[type='number'] {
                        width: 92px;
                    } 
    
                    > span:first-child {
                        display: inline-block;
                        width: 110px;
                    }
                }
            }
        }
    
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-content-start-start {
    align-items: start;
    justify-content: start;
}

.flex-content-center-center {
    align-items: center;
    justify-content: center;
}

