body {
    height: 100vh;
    width: 100vw;

    main {
        height: 100%;
        width: 100%;
        gap: 20px;

        div:first-child {

            gap: 30px;
            flex-wrap: wrap;

            #flex-test-container {
                border: solid black 1px;
                height: 200px;
                width: 300px;
                resize: both;
                overflow: auto;
    
                div {
                    border: solid black 1px;
                }
            }
    
            
        
            form {
                gap: 20px;
                flex-wrap: wrap;
    
                > div {
                    gap: 10px;
        
                    > label {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: start;
                        gap: 10px;
    
                        > select {
                            width: 100px;
                        }
    
                        > input[type='text'],
                        > input[type='number'] {
                            width: 92px;
                        } 
        
                        > span:first-child {
                            display: inline-block;
                            width: 110px;
                        }
                    }
                }
            }
        }

        #css-code-container {
            flex-wrap: wrap;
            gap: 10px;

            code {
                font-size: 1.2rem;
            }
        }
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-content-start-start {
    align-items: start;
    justify-content: start;
}

.flex-content-center-center {
    align-items: center;
    justify-content: center;
}

.flex-content-start-center {
    align-items: start;
    justify-content: center;
}

.flex-content-center-start {
    align-items: center;
    justify-content: start;
}